<%= simple_form_for(article, validate: true) do |f|%>

  <div class="row">
    <div class="form-inputs">
      <%= f.input :title, class: 'col-md-8' %>
      <%= f.submit "Submit" %>
    </div>
  </div>
<% end %>